.compare-bikes {
  padding-inline: 20px;
  margin-top: 92px;

  @include onTablet {
    padding-inline: 176px;
    margin-top: 132px;
  }

  @include onDesktop {
    padding-inline: 120px;
    margin-top: 164px;
  }

  @include onBigDesktop {
    padding-inline: 200px;
    margin-top: 168px;
  }

  &__title {
    text-align: center;
  }

  &__products {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include onTablet {
      gap: 48px;
    }

    @include onDesktop {
      flex-direction: row;
      gap: 24px;
    }
  }
}
