.details {
  padding-inline: 20px;

  &__title {
    margin-top: 92px;
    text-align: center;
  }

  &__technologies {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 48px;
  }
}
