.header {
  background-image: url(../../src/images/header-bg.png);
  background-position: 85%;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include onTablet {
    background-position: center;
  }

  &__title {
    color: #fff;
    font-weight: 700;
    align-self: center;
    font-size: 36px;
    letter-spacing: -1.5px;
    margin-bottom: 88px;

    @include onTablet {
      font-size: 64px;
      margin-bottom: 130px;
    }

    @include onDesktop {
      font-size: 80px;
      margin-bottom: 200px;
    }
  }
}
